.table-container {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: left;
}

input {
    margin-bottom: 10px;
}