.game-show-item-highlight::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 167, 0, 0.2);
    border-radius: 10px;
    pointer-events: none;
}

.game-show-item-incorrect::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 96, 87, 0.2);
    border-radius: 10px;
    pointer-events: none;
}